// WELCOME SECTION STARTS
.welcome__heading {
  font-family: var(--font-base);
  font-weight: 700 !important;
  font-size: 2rem !important;
  text-transform: uppercase !important;
  line-height: 40px;
  letter-spacing: 0.2em;
  color: var(--secondary-color);
}

.welcome__text {
  font-family: var(--font-base);
  font-weight: 400 !important;
  font-size: 1rem !important;
  line-height: 35px;
  text-align: center;
  letter-spacing: 0.25em;
  text-transform: capitalize;

  .know__more {
    font-weight: 700 !important;
    color: #000000 !important;
    text-decoration: underline #e19e20 !important;
  }
}

// WELCOME SECTION ENDS

// WORK SECTION STARTS
.work__bg {
  background: #f4faff;
}

.work__heading {
  font-family: var(--head-font);
  color: #000000 !important;
  font-weight: 700;
  font-size: 45px;
  line-height: 58px;
  text-align: center;
  padding-left: 20%;
  padding-right: 20%;
}

.work__content .check {
  color: var(--secondary-color);
}

.heading__col {
  color: var(--secondary-color);
  font-family: var(--font-base);
  font-style: normal;
  font-weight: 700;
  font-size: 2rem;
  line-height: 40px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
}
.text__col {
  color: #828282 !important;
  font-family: var(--font-base);
  font-style: normal;
  font-weight: 400;
  font-size: 1.25rem !important;
  line-height: 32px;
}

// WORK SECTION ENDS

// OUR-SERVICES START
.card img {
//   width: 90px;
  height: 93px;
}
.img__bg {
  background: #f4faff;
  box-shadow: 0px 4px 10px rgba(182, 182, 182, 0.25);
}
.card-body {
  padding-left: 25px;
  padding-right: 25px;
  padding-top: 30px;
  padding-bottom: 25px;

  .card-title {
    color: var(--secondary-color);
    font-family: var(--font-base);
    font-weight: 700;
    font-size: 1.313rem;
    line-height: 26px;
    letter-spacing: 0.2em;
    text-transform: uppercase;

    @media only screen and (max-width: 1081px) {
        font-size: 1.1rem!important;
    }
    @media only screen and (max-width: 950px) {
        font-size: 1.0rem!important;
    }
    @media only screen and (max-width: 890px) {
        font-size: 0.92rem!important;
    }
  }
  .card-text {
    color: #828282;
    font-family: var(--font-base);
    font-style: normal;
    font-weight: 400;
    font-size: 0.938rem;
    line-height: 22px;
    letter-spacing: 0.25em;
    text-transform: uppercase;
  }
}
// OUR-SERVICES ENDS
